
<sc-navigation></sc-navigation>
<!-- Create a sub menu ng-component with menu for admin and user and replace it under the main menu depending on the accesslevel -->
<!-- LOOK INTO PROPERTY BAGS BY DEBORAH KURATA COMPONENT CMOMMUNICATION -->
<div class="container" *ngIf="adverts">
    <div class="card" *ngFor="let advert of adverts">
        <h1>{{advert.headeline}}</h1>
        <img src="{{advert.images[0]}}" alt="" srcset="">
        <p>{{advert.location}}</p>
    </div>
</div>

<div *ngIf="!adverts">YOU HAVE NO ADVERTS</div>
<button (click)="delete()">Clear local storage</button>