
<div>  
  <router-outlet></router-outlet>

  <footer>
    <div>
      <h2 class="">SUCASA PROPERTY LISTING</h2>
    </div>
    <div class="footer-links">
      <ul>
        <li class="nav-link links" routerLink="/homepage">Home</li>
        <li class="nav-link links">For Sale</li>
        <li class="nav-link links">Sell a House</li>
        <li class="nav-link links" routerLink="/login">Login</li>
        <li class="nav-link links" routerLink="/registration">Register</li>
      </ul>
    </div>
  </footer>
</div>