<sc-navigation></sc-navigation>


<div class="container parent">

    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                Su<span class="logo-cut">Casa</span>
            </h1>
            <h2 class="wv-heading--subtitle">
                Login
            </h2>
        </div>
    </div>

    <div class="row">
        <p class="wv-heading--subtitle text-center">
            email@gmail.com
            Bongani123
            access: User
        </p>
        <p class="wv-heading--subtitle text-center">
            somestuff@gmail.com
            Namukolo123
            access: Admin
        </p>

        <div class="col-md-4 mx-auto">
            <div class="myform form">
                <form action="" method="" name="login" [formGroup]="loginForm" novalidate (ngSubmit)="login()">
                    <div class="form-group mb-4">
                        <input type="email" name="email" class="form-control my-input" id="email" placeholder="email"
                            formControlName="email" [ngClass]="{'is-invalid': 
                        (loginForm.get('email')?.touched ||
                        loginForm.get('email')?.dirty) &&
                        !loginForm.get('email')?.valid}" />

                        <span class="invalid-feedback">
                            <span *ngIf="loginForm.get('email')?.errors?.required">
                                Please enter your email.
                            </span>
                            <span *ngIf="loginForm.get('email')?.errors?.minlength">
                                Your email must be longer than 6 characters.
                            </span>
                            <span *ngIf="loginForm.get('email')?.errors?.maxlength">
                                Your email must not be longer than 100 characters.
                            </span>
                            <span *ngIf="loginForm.get('email')?.errors?.email">
                                Please enter a vaild email.
                            </span>
                        </span>
                    </div>

                    <div class="form-group mb-4">
                        <input type="password" name="password" class="form-control my-input" id="password"
                            placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': 
                            (loginForm.get('password')?.touched ||
                            loginForm.get('password')?.dirty) &&
                            !loginForm.get('password')?.valid}" />

                        <span class="invalid-feedback">
                            <span *ngIf="loginForm.get('password')?.errors?.required">
                                Please enter your password.
                            </span>
                            <span *ngIf="loginForm.get('password')?.errors?.minlength">
                                Your password must be longer than 8 characters.
                            </span>
                            <span *ngIf="loginForm.get('password')?.errors?.maxlength">
                                Your password must not be longer than 100 characters.
                            </span>
                        </span>
                    </div>



                    <!-- SUBMIT BUTTON  -->
                    <div class="text-center ">
                        <button type="submit" class=" btn btn-block send-button tx-tfm">Login</button>

                        <div class="alert alert-danger" style="margin-top: 1rem;" role="alert" *ngIf="failed">
                            Please enter all the required fields
                        </div>
                        <div class="alert alert-danger" style="margin-top: 1rem;" role="alert" *ngIf="failedLogin">
                            Incorrect email or password
                        </div>
                        <div class="alert alert-success" style="margin-top: 1rem;" role="alert" *ngIf="success">
                            Account created Successfully
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>