* {
    color: #4c537d;
    color: rgb(26, 25, 25);
    font-family: "Poppins", sans-serif;
    // font-size: 1.8rem;
}
.wrapper {
    width: 100%;
    display: flex;
    padding: 0 3rem;
}

.col-info {
    flex: 2;
    margin-right: 2rem;
    .images {
        display: flex;
        .main-image {
            flex: 2;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }

        .thumbnails {
            :first-child {
                margin-top: 0;
            }
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                width: 80%;
                border-radius: 5px;
                margin-top: 0.5rem;
            }
        }
    }

    .price_row {
        margin-top: 2rem;
        display: flex;
        font-size: 3.5rem;
        font-weight: 600;
        .price {
            color: #62ca6b;
        }
        .location {
            margin-left: 9rem;
            color: rgb(59, 58, 58);
            color: rgb(26, 25, 25);

            .location_icon {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }

    .description {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.col-seller {
    // border: 1px solid #62ca6b;
    color: #62ca6b;
    border-radius: 5px;
    flex: 1;
    padding: 2rem 0;
    // width: 10%;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // height: 80%;
}

.profile_image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.2rem;
    border: 3px solid #62ca6b;
}

.seller-info {
    text-align: center;
    margin-bottom: 3rem;
    .favourite_icon {
        height: 3rem;
        width: 3rem;
    }
}
.favourite {
    height: 3rem;
    width: 3rem;
}

.send-button {
    background: #62ca6b;
    width: 100%;
    font-weight: 600;
    color: #fff;
    padding: 1rem 3.125rem;
    height: 5rem;
    font-size: 1.8rem;
}
.name,
.email,
.phone {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(59, 58, 58);
    // color: rgb(63, 62, 62);
}
.name {
    margin-top: 1rem;
}

.email,
.phone {
    margin-top: -1rem;
}
.contact-seller-form {
    // border: 1px solid red;
    width: 70%;
}
input {
    height: 5rem;
    &::placeholder {
        font-size: 1.6rem;
    }
}
.form-field {
    margin-bottom: 2rem;
}

.my-input {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 6px 8px;
    transition: border 0.1s linear;
    margin-bottom: 0.5rem;
    width: 100%;
    &::placeholder {
        font-size: 1.6rem;
    }
}

.labelled-input {
    margin-top: -1rem;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
    }
}
