<div class="carousel-parent">

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let advert of adverts">
      <ng-template class="card shadow-sm" carouselSlide >
        <div class="card shadow-sm">
        <p class="status">FEATURED</p>

          <!-- CARD IMAGE, LOCATION & PRICE -->
          <img src="{{advert.images[0]}}" alt="" srcset="">
          <h1 class="headline">{{advert.headline}}</h1>
          <p class="location"><svg xmlns="http://www.w3.org/2000/svg" class="icon location_icon" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>{{advert.city}}, {{advert.province}}</p>
          <p class="price">{{advert.price | currency : 'ZAR': 'symbol-narrow': '4.0-0'}}</p>
          <a [routerLink]="['/for-sale', advert.id]">Read more</a>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
