@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


th, caption {
    color: #62ca6b;
}
th{
	font-size: 2rem;
	font-weight: 600;
}
.dropdown-actions{
	background-color: #62ca6b;
	color: #fff;
	border: none;
}
td{
	padding: 1rem 0;
	text-align: left ;
}
.locked{
	padding-left: 2.5rem;
}
.locked_icon{
	width: 2rem;
	height: 2rem;
	text-align: center;
}

tr{
    cursor: pointer;
}

*{
	color: #4C537D;
    color: rgb(59, 58, 58);

	font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}
.send-button{
	background: #54C7C3;
	width:100%;
	font-weight: 600;
	color:#fff;
	padding: 8px 25px;
}

.btn-add{
    margin-bottom: 4rem;
    max-width: 20rem;
}
.form-select{
	max-width: 15rem;
}

.filter-row{
	display: flex;
	// align-items: center;
	// justify-content: space-between;
	// font-family: 'Poppins', sans-serif;
	align-self: flex-start ;
	// border: 1px solid red;
}
// .filter-row{
// 	margin: 2rem 1rem;
// }
// .my-input{
// 	cursor: text;
// 	padding: 5px 10px;
// 	transition: border .1s linear;
// 	max-width: 20rem;
// }

.label-input-group{
	display: flex;
	height: 4rem;
	flex-direction: row;
	align-items: center;
	flex: 1;
	margin-bottom: 4rem;
	// justify-content: center;

}

// .company{
// 	margin-right: 2rem;

// }

.label-input-group .label{
	margin: .1rem .5rem 0 0;
	font-weight: 600;
	// align-self: center;
}

h2{
	margin-bottom: 3rem;
	font-size: 3rem;
	font-weight: 600;
}

form{
	// border: 1px solid red;
	width: 30%;
	
	input{
		width: 100%;
		padding: 2rem 10px;
		height: 3rem;
		font-size: 1.6rem;
	}
	.g-button{
		color: #fff;
		// border: 1px solid #EA4335;
		// background: #ea4335 !important;
	background-color: #62ca6b;

		width:100%;
		font-weight: 600;
		color:#fff;
		padding: 8px 25px;
	}
}