<sc-navigation></sc-navigation>
<div class='filter-row container'>
    <div class="label-input-group company">
        <p class='label'>Surname</p>
        <div>
            <input type='text' class="form-control my-input" [(ngModel)]='userSearch' />
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-hover accordion-table">
        <caption>List of all current Users</caption>
        <thead>
            <tr>
                <th scope="col">Forenames</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Locked</th>
                <th scope="col">Actions</th> -->
            </tr>
        </thead>

        <tbody *ngFor="let user of filteredUsers">
            <tr class="main-level" (click)="getAdverts(user)">
                <td>{{user.forenames}}</td>
                <td>{{user.surname }}</td>
                <td>{{user.email}}</td>
                <!-- <td *ngIf="user.locked" class="locked"><svg xmlns="http://www.w3.org/2000/svg" class="locked_icon" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                </td>
                <td *ngIf="!user.locked"></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle dropdown-actions" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" *ngIf="user.locked" >Unlock Account</a>
                            <a class="dropdown-item" >Change Email</a>
                        </div>
                    </div>
                </td> -->
            </tr>
        </tbody>
    </table>

    <div class="container" *ngIf="filteredAdverts">

        

        <div class="card shadow-sm" *ngFor="let advert of filteredAdverts">

            <p *ngIf="advert.status === 'LIVE'" [ngClass]="{'status-live': advert.status === 'LIVE'}">{{advert.status}}</p>
            <p *ngIf="advert.status === 'HIDDEN'" [ngClass]="{'status-hidden': advert.status === 'HIDDEN'}">
                {{advert.status}}</p>
            <p *ngIf="advert.status === 'DELETED'" [ngClass]="{'status-deleted': advert.status === 'DELETED'}">
                {{advert.status}}</p>

                <div class="dropdown status status-change">
                    <button class="btn btn-secondary dropdown-toggle dropdown-actions" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Status
                    </button>
            
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="statusChange(advert,'LIVE')">Live</a>
                        <a class="dropdown-item" (click)="statusChange(advert,'HIDDEN')">Hidden</a>
                        <a class="dropdown-item" (click)="statusChange(advert,'DELETED')">Deleted</a>
                    </div>
                </div>
    
            <!-- CARD IMAGE, LOCATION & PRICE -->
            <img src="{{advert.images[0]}}" alt="" srcset="">
            <h1 class="headline">{{advert.headline}}</h1>
            <p class="location"><svg xmlns="http://www.w3.org/2000/svg" class="icon location_icon" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>{{advert.city}}, {{advert.province}}</p>
            <p class="price">{{advert.price | currency : 'ZAR': 'symbol-narrow': '4.0-0'}}</p>
    
            <!--ACTION ICONS -->
            <div class="actions">
                <!-- EDIT -->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    [routerLink]="['/add-advert', advert.id, 'edit']">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg> -->
    
                <!--STATUS HIDDEN & LIVE-->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    *ngIf="advert.status === 'LIVE'" (click)='onStatusClick(advert)'>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
    
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    *ngIf="advert.status === 'HIDDEN'" (click)='onStatusClick(advert)'>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
    
                DELETE -->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    mwlConfirmationPopover [customTemplate]="customTemplate" (confirm)="onDeleteClick(advert)"
                    (cancel)="cancelClicked = true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg> -->
            </div>
    </div>
</div>