<!-- UNATHORIZED USER MENU -->
<nav class="navbar navbar-expand shadow-sm main-menu" *ngIf="!userAccessLevel || userAccessLevel == 'UU'">
  <div class="unauth-menu">
    <a class="navbar-brand links" routerLink="/">
      Su<span class="logo-cut">Casa</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-link links" routerLink='/hompage'>Home</li>
      <li class="nav-link links" routerLink='/for-sale'>For Sale</li>
      <li class="nav-link links">Sell a House</li>
    </ul>

    <ul class="accounts">
      <li class="nav-link links" routerLink='/login'>Login</li>
      <li class="nav-link links" routerLink='/registration' class="cta-register">Register</li>
    </ul>
  </div>
</nav>

<!-- AUTHORIZED USER MENU -->
<nav class="navbar navbar-expand shadow-sm main-menu user-menu" *ngIf="userAccessLevel == 'USER'">
  <div class="unauth-menu">
    <a class="navbar-brand links" routerLink="/">
      Su<span class="logo-cut">Casa</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-link links" routerLink='/my-adverts'>My ads</li>
      <li class="nav-link links" routerLink='/my-seller-profile'>Profile</li>
      <li class="nav-link links" routerLink='/for-sale'>Buy</li>
      <li class="nav-link links" routerLink="/add-advert">Sell</li>
      <li class="nav-link links" routerLink="/favourites">Favourites</li>
      <li class="nav-link links" routerLink="/my-account">Manage Account</li>
    </ul>

    <ul class="accounts">
      <li class="nav-link links" routerLink='/login'>Logout</li>
    </ul>
  </div>
</nav>

<!-- ADMIN MENU -->
<nav class="navbar navbar-expand shadow-sm main-menu" *ngIf="userAccessLevel == 'ADMIN'">
  <div class="unauth-menu">
    <a class="navbar-brand links" routerLink="/">
      Su<span class="logo-cut">Casa</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-link links" routerLink="/user-management">User Management</li>
      <li class="nav-link links" routerLink="/advert-management">Advert Management</li>
    </ul>

    <ul class="accounts">
      <li class="nav-link links" routerLink='/login'>Logout</li>
    </ul>
  </div>
</nav>